{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Concert One"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/homec.css' %}" />
    <title>E-Auction</title>
  </head>

  <body>
    <div class="container mt-3">
      <div class="heading-info d-flex justify-content-between">
        <h2>E-Auction</h2>
        {% if user_email %}
        <h5 class="mt-2">User: {{user_email}}</h5>

        {% else %}
        <h5 class="mt-2">user: email@address.com</h5>
        {% endif %}
      </div>
      {% block content %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
