
.login_page{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/login-bg.jpg") center center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_container{
    height: fit-content;
    width: 40vw;
    background-color: rgba(230, 223, 223, 0.781);
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_container h1{
    font-family: 'Concert One';
    text-align: center;
}
.login_container button{
    text-align: center;
}

@media (max-width: 1024px) {
    .login_container{
        width: 50vw;
    }
}


@media (max-width: 768px) {
    .login_container{
        width: 60vw;
    }
}
@media (max-width: 500px) {
    .login_container{
        width: 70vw;
    }
}